<!DOCTYPE html>
<html lang="en">

<head>
    <title>assc-art-web</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <style>
        .colorchenge{ color: {{ .Color}}; background-color: {{ .ColorBack}}}
    </style>
</head>

<body>

<div id="header"><h1><spain id="colorLetter">A</spain>scii <spain id="colorLetter">A</spain>rt <spain id="colorLetter">W</spain>eb</h1></div>
<div id="continer">
<div id="formOption">
    <form method="POST" action="/">
        <label for="text">Enter your text:</label>
        <br><br>
        <textarea type="text" id="text" name="thetext" required></textarea>
        <br><p>Only 2000 characters allowed</p><br>
            <label for="text">Font Color:</label>
            <input type="color" name="color" value="#000000"required>
            <label for="text">Background Color:</label>
            <input type="color" name="Backcolor" value="#f1f0e8" required>
            <br><br>
        <select name="chose" id="chose">
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
        </select>
        <input id="bottons" type="submit" value="Submit"> 
    </form>
    </div>
    <div class="colorchenge" id="output">
        {{ range .Text }}
        <pre>{{ . }}</pre>
        {{end}}
    </div>

</div>
<div id="footer"><spain id="colorLetter">Created By:</spain>&nbsp;<spain id="colorLetter">R</spain>uqaya <spain id="colorLetter">H</spain>elal,   &nbsp;&nbsp;the Genius <spain id="colorLetter">M</spain>aryam <spain id="colorLetter">A</spain>bbas</div>


</body>
</html>