body{margin:0;padding:0;border:none; background-color: #f1f0e8; font-family:"Courier New", Courier, monospace;
     text-align:center; overflow: scroll;}
#colorLetter{color: #F1AFB2;}

#header{height:14%;width:100% ;border-bottom:10px solid #F1AFB2;font-size:1.5em; padding-top:1%; 
    max-height: 15%;font-family: "Brush Script MT","cursive";}

#continer{width: 100%;height: 75%;max-width: 100%;max-height: 75%;}

#formOption{float:left;  height: 50%; padding:4%; width: 42%;color:black;max-height:60%;}
#formOption p{color:red;opacity: 0.4;text-align: left;padding-left: 15%; font-style: italic;}
#formOption label{font-weight: bold;text-align: left;}
#text{border-style:none;border-radius:20px;background-color:#F1AFB2;text-align:center; 
    max-height: 80%; max-width: 80%; width: 80%;height: 80%;font-size:1.2em;}
#chose{border-style:none;border-radius:100px;text-align:center;
    background-color:#F1AFB2;height:10%;width:25%;font-size:1.2em;padding: 1%;}
#bottons{border-style:none;border-radius:100px;
    background-color:#F1AFB2;height:20%;width:20%;font-size:1.2em;padding: 1%;}
#colordiv{border-style:none;border-radius:20px;background-color:#F1AFB2;text-align:left; 
    max-height: 10%; max-width: 25%; width: 25%;height: 100%;font-size:1.2em; padding: 1%;}

    
#ErrorMsg{padding: 10%;width: 80%;height:80%;color: #F1AFB2;font-weight: bold;}

#output{padding:4%; width:42%;height: 50%;float:left; max-height:60%;overflow:auto;
    text-overflow:ellipsis;white-space:nowrap;} 

#footer{border-top:10px solid #F1AFB2; font-size:20; float:left;
    height:6% ;width:96% ; padding: 2%; max-width: 100%;max-height: 10%;}

